name: CI

on:
  pull_request:
  push:
    branches:
      - develop
      - main

jobs:
  latest-cabal:
    name: "Cabal: GHC ${{ matrix.ghc }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ['8.2.2', '8.4.4', '8.6.5', '8.8.4', '8.10.7', '9.0.2', '9.2.5', '9.4.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Haskell
        uses: haskell/actions/setup@v1
        with:
          cabal-version: latest
          ghc-version: ${{ matrix.ghc }}
      - name: Build
        run: |
          if [ -f "cabal-${{ matrix.ghc }}.project" ] ; then
            cabal v2-build --project-file=cabal-${{ matrix.ghc }}.project --enable-tests --enable-benchmarks
          else
            cabal v2-build --enable-tests --enable-benchmarks
          fi
      - name: Test
        run: |
          if [ -f "cabal-${{ matrix.ghc }}.project" ] ; then
            cabal v2-test --project-file=cabal-${{ matrix.ghc }}.project --enable-tests
          else
            cabal v2-test --enable-tests
          fi

  stack:
    name: "Stack: GHC ${{ matrix.ghc }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ['8.2.2', '8.4.4', '8.6.5', '8.8.4', '8.10.7', '9.0.2', '9.2.5', '9.4.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Haskell
        uses: haskell/actions/setup@v1
        with:
          cabal-version: latest
          enable-stack: true
          ghc-version: ${{ matrix.ghc }}
          stack-version: latest
      - name: Cache ~/.stack
        uses: actions/cache@v1
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-stack
      - name: Build
        run: stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks
        env:
          STACK_YAML: stack-${{ matrix.ghc }}.yaml
      - name: Test
        run: stack test --system-ghc
        env:
          STACK_YAML: stack-${{ matrix.ghc }}.yaml

  cabal:
    name: "Cabal: ${{ matrix.cabal }} (GHC ${{ matrix.ghc }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cabal: ['2.4.1.0', '3.0.0.0', '3.2.0.0', '3.4.1.0', '3.6.2.0', '3.8.1.0']
        ghc: ['8.2.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Haskell
        uses: haskell/actions/setup@v1
        with:
          cabal-version: ${{ matrix.cabal }}
          ghc-version: ${{ matrix.ghc }}
      - name: Build
        run: |
          if [ -f "cabal-${{ matrix.ghc }}.project" ] ; then
            cabal v2-build --project-file=cabal-${{ matrix.ghc }}.project --enable-tests --enable-benchmarks
          else
            cabal v2-build --enable-tests --enable-benchmarks
          fi
      - name: Test
        run: |
          if [ -f "cabal-${{ matrix.ghc }}.project" ] ; then
            cabal v2-test --project-file=cabal-${{ matrix.ghc }}.project --enable-tests
          else
            cabal v2-test --enable-tests
          fi
